<!DOCTYPE html>
<html>
<head>
	<title>weather</title>
	<link rel="icon" href="/img/pic1.png">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
	<div class="main-content"> 
		{{>header}}
		
		<form>
			<input placeholder="Location">
			<button>Submit</button>
		</form>

		<p id="msg-1"></p>
		<p id="msg-2"></p>
	</div>
	{{>footer}}
	<script type="text/javascript" src="/js/app.js"></script>
</head>
</body>
</html>